* {
    box-sizing: border-box;
}

@font-face {
    font-family: OpenSans;
    src: url(assets/fonts/Open_Sans/static/OpenSans-Regular.ttf);
    font-weight: 200;
}
html {
    scroll-behavior: smooth;
}
main {
    max-width: 1024px;
    margin: 0px auto;
    display: flex;
    flex-wrap: wrap;
    box-shadow: -2px 3px 33px 21px rgba(109, 162, 103, 0.30);
}
.name {
    width: 67%;
    padding-left: 20px;
}
.photo {
    width: 33%;
}
.photo img {
    width: 100%;
}
.left-side {
    width: 33%;
    background-color: #566E53;
}
.right-side {
    width: 67%;
}
.container {
    color: white;
    padding: 10px;
}
.container-link {
    text-decoration: none;
    color: white;
}
.container-link:hover {
    font-weight: bolder;
    color: #D8979B;
}
.code-style {
    background-color: #D8A3A5;
    color: black;
    font-family: 'Courier New', Courier, monospace;
}
.main-container {
    display: flex;
    flex-wrap: wrap;
}
.section {
    width: 50%;
}
@media (max-width: 768px) {
    .container {
        width: 100%;
    }
}
header {
    background-color: #98C393;
    margin: auto;
}
.nav-list {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    list-style-type: none;
}
.nav-link {
    padding: 0 20px;
    line-height: 50px;
    text-decoration: none;
    font-size: 19px;
    color: white;
    transition: .1s ease-in-out;
}
.nav-link:hover {
    font-weight: bolder;
    font-size: 20;
    color: #D8979B;
}

body {
    background-color: #98C393;
    font-family: OpenSans;
    min-height: 100vh;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.section-title {
    color: #6B181C;
}
h1 {
    font-size: 64px;
}
.subheader {
    font-size: 32px;
    color: #6B181C;
}
.contacts {
    color: white;
    padding: 10px;
}
.contacts ul {
    list-style-type: none;
}
.contacts li {
    margin-top: 20px;
}
.contacts img {
    margin-right: 10px;
    vertical-align: middle;
    height: auto;
    width: 30px;
}
.contacts a {
    text-decoration: none;
    color: white;
}
.contacts p {
    display: inline;
    vertical-align: middle;
}
footer {
    background-color: #98C393;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 20px;
    padding-top: 20px;
}
footer a {
    text-decoration: none;
    color: white;
}
footer img {
    vertical-align: middle;
    padding-right: 10px;
}
footer p {
    display: inline;
    vertical-align: middle;
}
footer div {
    margin-left: 50px;
    margin-right: 50px;
}